<!DOCTYPE html>
<html>
    <head>
        <title>Insert Customer</title>
        <link rel="stylesheet" href="../stylescheets/formdata.css" type="text/css">
    </head>
    <body>
        <div class="form-input">
            <div class="head">
                <h4>Input New Data</h4>
                <hr>
            </div>
        <form action="/customer/formsave" method="POST">
            <div>
                <span>customer_id : </span>
                <input type="number" name="customer_id" value=0 />
            </div>
            <div>
                <span>firstname : </span>
                <input type="text" name="firstname" value="" />
            </div>
            <div>
                <span>lastname : </span>
                <input type="text" name="lastname" value="" />
            </div>
            <div>
                <span>email : </span>
                <input type="text" name="email" value="" />
            </div>
            <div>
                <span>phone : </span>
                <input type="text" name="phone" value="" />
            </div>

            <input type="submit" value="submit" id="submit"/>
           
        </form>
        </div> 
    </body>
</html>
