<!DOCTYPE html>
<html>
    <head>
        <title>Update Customer</title>
    </head>
    <body>
        <div class="form-input">
            <div class="head">
                <h4>Update customer_id: <%= idCustomer; %></h4>
                <hr>
            </div>
            <form action="/customer/updatesave" method="POST">
                <div>
                    <span>customer_id : </span>
                    <input type="number" name="customer_id" value="<%= idCustomer; %>" readonly />
                </div>
                <div>
                    <span>firstname : </span>
                    <input type="text" name="firstname" value="" />
                </div>
                <div>
                    <span>lastname : </span>
                    <input type="text" name="lastname" value="" />
                </div>
                <div>
                    <span>email : </span>
                    <input type="text" name="email" value="" />
                </div>
                <div>
                    <span>phone : </span>
                    <input type="text" name="phone" value="" />
                </div>

                <input type="submit" value="submit" id="submit" />
            </form>
        </div>
    </body>
</html>
