<!DOCTYPE html>
<html>
   <head>
      <title>Hotel Reservation</title>
      <link rel="stylesheet" href="../stylescheets/index.css" type="text/css">
      <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
   </head>
   <body>
        <div class="bg-image"></div>
        <div class="list">
            <div class="head">
                <h3> Hotel Reservation Database Sytem</h3>
                <hr>
            </div>
            <ul>
            <li>
                <a href="/">Customer</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/room">Room</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/type">Type</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/reservation">Reservation</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/reservation_detail">Reservation Detail</a>
                <i class="fa fa-angle-right"></i>
            </li>
        </ul>
        </div>
        
   </body>
</html>