<!DOCTYPE html>
<html>
   <head>
      <title>Index page</title>
   </head>
   <body>
        <h2> Hotel Reservation database system </h2>
        <a href="/">Customer</a> <br>
        <a href="/room">Room</a><br>
        <a href="/type">Type</a><br>
        <a href="/reservation">Reservation</a><br>
        <a href="/">Reservation Detail</a>
      
   </body>
</html>